.navigation {
  width: 200px;
  background: #fff;

  &__list {
    padding: 40px 0 0 0;
  }

  &__item {
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    max-width: 150px;

    &-link {
      font-size: 20px;
      color: #000;
      transition: all .3s;
    }

    &:hover {
      background: #FF5761;

      .navigation__item-link {
        color: #fff;
      }
    }
  }
}