.teamCard {
  max-width: 250px;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  border-radius: 5px;

  &__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    transform: translateY(15px);
  }

  &__content {
    height: 100px;
    margin-top: 30px;
    background: #303030;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      color: #FFFFFF;
    }

    &-dscr {
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      color: #9C9C9C;
    }
  }
}